@model SuperHero.Models.SuperHeroes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SuperHeroes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HeroName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeroName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlterEgoName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlterEgoName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainAbility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainAbility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondaryAbility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondaryAbility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Catchphrase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catchphrase)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
